/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.create-reminder-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.create-reminder-btn:hover {
  background-color: #45a049;
}

li {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  max-width: 500px;
  position: relative;
}

.text-content {
  word-break: break-word;
  white-space: normal;
  max-width: 270px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.edit-link,
.remove-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #007bff;
  text-decoration: none;
  width: 80px;
  text-align: right;
}

.edit-link {
  right: 120px;
}
